<!-- Header -->
<header class="flex_12" role="banner">
    <div class="logo h1 flex_8 f-alpha" itemscope itemtype="http://schema.org/Organization">
        <a href="{$website:url}" title="{$plugin:widcard:BizOrgName:notag}" itemprop="url">
            <img src="{$plugin:widcard:bizLogo:url}" alt="{$page:h1}" width="75" height="85" itemprop="logo" loading="lazy">
            <span itemprop="name">{$plugin:widcard:BizOrgName:notag}</span>
        </a>
    </div>
    <div class="flex_4 f-omega" role="search">
        {$search:form}
    </div>
</header>

<!-- Main Menu -->
<nav id="main-menu" class="flex_12 d-visible" role="navigation">{$menu:main:_main menu}</nav>